<div class="nav">
    <div >

        <a href="/">Startmin</a>
        <a href="/dashboard" ><i class="fa-solid fa-house"></i></i>Website</a>
    </div>
    <div>

        <a href="#" > <i class="fa-solid fa-bell"></i></a>
        <a href="/logout" >Logout</a>
    </div>
</div>