
<div class="side">
    <div class="side-in">
        <input type="text" placeholder="search..."><button>

        <i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
    <div class="side-in">
        <ul>
            <li><a href="/dashboard"><i class="fa-solid fa-gauge"></i>Dashboard</a></li>
            <li><a href="#"><i class="fa-solid fa-chart-column"></i>Charts</a></li>
            <li><a href="/users"><i class="fa-solid fa-table-cells"></i>Tables</a></li>
            <li><a href="#"><i class="fa-solid fa-pen-to-square"></i>Forms</a></li>
            <li><a href="#"><i class="fa-solid fa-calendar"></i>UI Elements</a></li>
            <li><a href="#"><i class="fa-solid fa-square-caret-down"></i>Multi Level Dropdown</a></li>
            <li><a href="#"><i class="fa-solid fa-file-arrow-up"></i>Sample Pages</a></li>
        </ul>
    </div>
</div>